<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
  
  <add name="PCSWEntities" connectionString="metadata=res://*/PCSWModel.csdl|res://*/PCSWModel.ssdl|res://*/PCSWModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=e180df5d-9a78-4a77-9457-a80300626a48.sqlserver.sequelizer.com;user id=tworcqquqdrilmwi;password=uwQ5w8HxtfZCFSsu4EQ5scKT3Wjrzd85FYkvYQ3tEMYWVXK3wf87Ud4sU5cGXr6p;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>