
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_PCSWLayout.cshtml";
}

<div class="row content_area_not_supported">
    <div class="col-md-offset-1 col-md-* col-xs-offset-1 col-xs-*">
        <div class="row">
            <div class="col-md-offset-1 col-xs-offset-1">
                <h2 class="not_supported_heading"><span style="font-size:75px;">S</span><span style="margin-left:-2px;">omething</span> went wrong :(</h2>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-xs-offset-2">
                    <h3 class="solution_heading">Possible Causes :</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-xs-offset-2">
                    <ul>
                        <li class="li_text">You are not connected to the server</li>
                        <li class="li_text">File is not successfully imported to Microsoft Excel</li>
                        <li class="li_text">File Name is Wrong</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
