
@{
    ViewBag.Title = "Application Not Supported";
    Layout = "~/Views/Shared/_PCSWLayout.cshtml";
}

<div class="row content_area_not_supported">
    <div class="col-md-offset-1 col-md-* col-xs-offset-1 col-xs-*">
        <div class="row">
            <div class="col-md-offset-1 col-xs-offset-1">
                <h2 class="not_supported_heading"><span style="font-size:75px;">Y</span><span style="margin-left:-15px;">our</span> browser does not support this application :(</h2>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-xs-offset-2">
                    <h3 class="solution_heading">Possible Solutions :</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-xs-offset-2">
                    <ul>
                        <li class="li_text">Update your Browser</li>
                        <li class="li_text">Install <a href="https://www.google.com/chrome/browser/features.html?brand=CHBD&gclid=EAIaIQobChMIjJuZkcrr1QIVFxIbCh1VaQu1EAAYASABEgJ3ofD_BwE&dclid=CMPoqJTK69UCFfci0wodV7YM5Q" target="_blank">Google Chrome</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

